.app {
  min-height: 100vh;
  background: rgb(206, 206, 230);
  text-align: center;
  justify-content: space-around;
}



.post {
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
}

.red{
  color: red;
  font-size: 50px;
}