.app {
  min-height: 100vh;
  background: rgb(216, 216, 241);
  text-align: center;
  justify-content: space-around;
}



.post {
  margin: 20px;
  background-color: white;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: left;
  border-radius: 20px;
  padding: 10px;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background-color: rgb(233, 54, 90);
  color: white;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.FormDiv{
  align-items: center;
  background-color: white;
  margin: 50px;
  border-radius: 20px;
  min-height: 100px;
}

.InputText{
  height: 50px;
  width: 70vw;
  margin: 10px;
  border-radius: 30px;
  border-width: 0px;
  border-width: 1px;
  padding:20px;
}

.ClassicButton{
  background-color: rgb(233, 54, 90);
  color: white;
  margin: 20px;
  border-width: 0px;
  min-width: 40vw;
  min-height: 50px;
  border-radius: 30px;
}

::placeholder{
  text-align: center;
}

.nav-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
}

.profilePictureUrl{
  max-width: 100px;
}

.vipStar{
  max-width: 30px;
}

.book-list{
  min-height: 15vh;
  background-color: whitesmoke;
  border-radius: 20px;
  margin: 20px;
}

hr{
  margin: 20px;
  background-color: rgb(233, 54, 90);
  border-color:  rgb(233, 54, 90);
  border-radius: 10%;
}